snippet radar "Skeleton for a Radar report" b
Product: ${1}
Classification: ${2}
Reproducibility: ${3}

Title: ${4}

# Description:

${5}

# Steps to Reproduce:

1. ${6}

# Expected Results:

${7}

# Actual Results:

${8}

# Configuration:

${9}

# Version & Build

${10}

# Additional Notes:


endsnippet
