[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
