[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/lua"]
	path = bundle/lua
	url = https://github.com/xolox/vim-lua-ftplugin.git
[submodule "bundle/NERDtree"]
	path = bundle/NERDtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "bundle/NERDcommenter"]
	path = bundle/NERDcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/haskell"]
	path = bundle/haskell
	url = https://github.com/vim-scripts/haskell.vim.git
[submodule "bundle/haskellmode"]
	path = bundle/haskellmode
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "bundle/afterimage"]
	path = bundle/afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/sieve"]
	path = bundle/sieve
	url = https://github.com/vim-scripts/sieve.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/toml"]
	path = bundle/toml
	url = https://github.com/kballard/vim-toml.git
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ConflictDetection"]
	path = bundle/ConflictDetection
	url = https://github.com/vim-scripts/ConflictDetection.git
[submodule "bundle/ConflictMotions"]
	path = bundle/ConflictMotions
	url = https://github.com/kballard/ConflictMotions.git
[submodule "bundle/ingo-library"]
	path = bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule "bundle/CountJump"]
	path = bundle/CountJump
	url = https://github.com/vim-scripts/CountJump.git
[submodule "bundle/fish"]
	path = bundle/fish
	url = https://github.com/dag/vim-fish.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown
