[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/lua"]
	path = bundle/lua
	url = https://github.com/xolox/vim-lua-ftplugin.git
[submodule "bundle/NERDtree"]
	path = bundle/NERDtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
